[Desktop Entry]
Name=Prafka
Comment=Prafka - manage, explore and analyze Apache Kafka
Exec=Prafka
Icon=Prafka
Terminal=false
Type=Application
Categories=Development
StartupWMClass=Prafka
MimeType=