name: pull_request
on:
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '25.0.1'
          java-package: 'jdk+fx'
          cache: maven
      - run: mvn -pl core,desktop clean test